<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adams Maxwell Enterprise System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/layout.css">
</head>
<body>
	<div class="page-wrapper">
        <header>
            <h2>Job Detail</h2>
        </header>
		<main>
			<div class="aes-home">
                <%- include("partials/aes-menu.ejs") %>

                <%
                    var jobNo="";
                    var coastPN="";
                    var custPN=""; 
                    if (locals.JobNo) 
                    { 
                        jobNo=locals.JobNo;
                        coastPN=locals.CoastPN;
                        custPN=locals.CustPN;
                    }
                %>                    

                <section class="aes-content">
                    <form action="/jobdet-search-jobno" method="POST">
                        <div class="form-group">
                            <label class="form-label" for="jobno">Job Number:</label>
                            <input type="text" id="job-no" name="job-no" placeholder="Enter Job Number" value="<%= jobNo %>">
                            <input style="width: 100px;" type="submit" id="search-jobno" name="job-search" value="Search">
                            <input style="width: 60px;" type="submit" id="prev-jobno" name="job-search" value="Prev">
                            <input style="width: 60px;" type="submit" id="next-jobno" name="job-search" value="Next">
                        </div>
                    </form>

                    <form action="/jobdet-search-coastpn" method="POST">
                        <div class="form-group">
                            <label class="form-label" for="coast-pn">Coast Part:</label>
                            <input type="text" id="coast-pn" name="coast-pn" placeholder="Enter Coast Part Number" value="<%= coastPN %>">
                            <input style="width: 100px;" type="submit" id="search-coastpn" name="coastpn-search" value="Search">
                            <input style="width: 60px;" type="submit" id="prev-coastpn" name="coastpn-search" value="Prev">
                            <input style="width: 60px;" type="submit" id="next-coastpn" name="coastpn-search" value="Next">
                        </div>
                    </form>

                    <form action="/jobdet-search-custpn" method="POST">
                        <div class="form-group">
                            <label class="form-label" for="cust-pn">Customer&nbsp;PN:</label>
                            <input type="text" id="cust-pn" name="cust-pn" placeholder="Enter Customer Part Number" value="<%= custPN %>">
                            <input style="width: 100px;" type="submit" id="search-cust-pn" name="custpn-search" value="Search">
                            <input style="width: 60px;" type="submit" id="prev-cust-pn" name="custpn-search" value="Prev">
                            <input style="width: 60px;" type="submit" id="next-cust-pn" name="custpn-search" value="Next">
                        </div>
                    </form>
                </section>
            </div>
		</main>


        <%- include("partials/footer.ejs") %>
	</div>
    <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" 
        crossorigin="anonymous">
    </script>
</body>
</html>